header {
    background: peru;
    background: seagreen;
}
body {
    background: url('https://i.pinimg.com/736x/54/7a/9c/547a9cc6b93e10261f1dd8a8af474e03--wolves-art-digital-illustration.jpg') center center no-repeat;
    background-size: cover;
}
.logo {
    height: 70px;
    width: 80  px;
}
.nav-item {
    display: inline;
    margin: 0 15px 0 0 
}

footer {
    color: salmon;
    width: 100%;
    height: 5vh;
    background: sienna;
    text-align: center;
    font-size: 1rem;
    clear: both;
}

footer #red {
    color: red;
}

#left-container{
    float: left;
}

#right-container{
    float: right;
}
.container {
    height: 500px;
    width: 49%;
    color: white;
}